@model IEnumerable<Task1_Hosptial.Models.Surgeon>

@{
    ViewBag.Title = "Index";
}

<h2>Surgeons</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Hospital.HospitalName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Firstname)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Lastname)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Qualifications)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Hospital.HospitalName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Firstname)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Lastname)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Qualifications)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.SurgeonId }) |
            @Html.ActionLink("Details", "Details", new { id=item.SurgeonId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.SurgeonId })
        </td>
    </tr>
}

</table>
